@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 420px;
  }
}

.reveal {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  50% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@keyframes float {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  50% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-top {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-right {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.header {
  height: 124px;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  z-index: 100;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  background: transparent;
}

.header.scrolled {
  background: white;
  height: 96px;
}

.header.scrolled:not(.active) * {
  color: black;
  fill: black;
}

.header.scrolled:not(.active) .header__logo__image--white {
  display: none;
}

.header.scrolled:not(.active) .header__logo__image--normal {
  display: block;
}

.header.active {
  background: #404144;
}

@media screen and (max-width: 992px) {
  .header.active .wrapper {
    max-width: unset;
  }
}

.header__container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .header__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.header * {
  color: white;
  fill: white;
  font-family: 'Montserrat', sans-serif;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
}

@media screen and (max-width: 992px) {
  .header .header__logo {
    margin-right: auto;
  }
}

.header .header__logo__image--normal {
  display: none;
}

.header .header__logo__slug {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-top: 0.25rem;
  font-weight: 500;
}

.header .header__info.active {
  display: none;
}

.header .header__info__button {
  display: none;
  border: 1px solid white;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.header .header__info__button.active .header__info__button__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .header__info__button.active .header__info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header .header__info__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: unset;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.header .header__info__button__arrow {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  width: 20px;
  height: 20px;
}

.header .header__info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -webkit-column-gap: .75rem;
          column-gap: .75rem;
}

.header .header__info__container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 40px;
  width: calc(100% - 80px);
  border-bottom: 1px solid black;
}

@media screen and (max-width: 768px) {
  .header .header__info__container.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: 1.5rem;
  }
}

.header .header__info__container.active * {
  color: black;
  fill: black;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .header .header__info__container {
    display: none;
  }
}

.header .header__info__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -webkit-column-gap: .75rem;
          column-gap: .75rem;
}

.header .header__info__element__icon {
  width: 30px;
  height: 30px;
}

.header .header__info__element__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  row-gap: 2px;
}

.header .header__info__element__container__text {
  text-decoration: none;
  font-size: 13px;
}

.header .header__info__element__container a {
  -webkit-transition: -webkit-text-decoration 0.1s ease-in;
  transition: -webkit-text-decoration 0.1s ease-in;
  transition: text-decoration 0.1s ease-in;
  transition: text-decoration 0.1s ease-in, -webkit-text-decoration 0.1s ease-in;
}

.header .header__info__element__container a:hover {
  text-decoration: underline;
}

.header .header__info__element:nth-child(2) .header__info__element__container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header__hamburger .icon {
  width: 34px;
  cursor: pointer;
  fill: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .header__hamburger .hamburger.hidden {
  display: none;
}

.header .header__hamburger .close {
  display: none;
}

.header .header__hamburger .close.active {
  display: block;
}

.header .header__navigation {
  display: none;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 992px) {
  .header .header__navigation {
    max-width: 320px;
    height: calc(100vh - 124px);
  }
}

.header .header__navigation.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #404144;
}

@media screen and (max-width: 992px) {
  .header .header__navigation.active {
    row-gap: 1.5rem;
  }
}

.header .header__navigation.active .header__navigation__container {
  margin: auto;
}

@media screen and (max-width: 992px) {
  .header .header__navigation.active .header__navigation__container {
    margin: 0;
    padding: 0 20px;
  }
}

.header .header__navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .header .header__navigation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: unset;
    width: auto;
  }
}

.header .header__navigation__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  row-gap: 1.875rem;
}

@media screen and (max-width: 992px) {
  .header .header__navigation__element {
    width: 100%;
  }
}

.header .header__navigation__title {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 600;
  position: relative;
}

@media screen and (max-width: 992px) {
  .header .header__navigation__title {
    cursor: pointer;
    font-size: 1.125rem;
    width: 100%;
  }
}

.header .header__navigation__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: calc(100% + 10px);
  left: 0;
  background: white;
}

@media screen and (max-width: 992px) {
  .header .header__navigation__title::after {
    content: '';
  }
}

.header .header__navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .header .header__navigation__list {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header .header__navigation__list.active {
    display: block;
  }
}

.header .header__navigation__list__element {
  margin-bottom: 1rem;
}

.header .header__navigation__list__element:hover a {
  color: #c24251;
}

.header .header__navigation__list__element__link {
  text-transform: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.header .header__navigation__platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  position: relative;
}

.header .header__navigation__platform::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% * 2);
  height: 1px;
  background: white;
  bottom: calc(100% + 20px);
  left: 0;
}

@media screen and (max-width: 992px) {
  .header .header__navigation__platform::before {
    content: unset;
  }
}

.header .header__navigation__platform__icon rect {
  fill: transparent;
}

.header .header__navigation__platform__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.main {
  width: 100%;
  height: auto;
}

.main.blurred {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8b0029), to(#453a94));
  background-image: linear-gradient(to top, #8b0029 0%, #453a94 100%);
}

.hero .wrapper {
  position: relative;
  height: 100%;
}

.hero * {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.hero__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .hero__text {
    width: 100%;
  }
}

.hero__text__title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .hero__text__title {
    font-size: 3rem;
  }
}

.hero__text__subtitle {
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 992px) {
  .hero__text__description {
    font-size: 1.125rem;
  }
}

.hero__illustration {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(2deg);
          transform: translateY(-50%) rotate(2deg);
  right: 0;
}

@media screen and (max-width: 992px) {
  .hero__illustration {
    display: none;
  }
}

.hero__illustration picture svg {
  -webkit-animation: float 5s cubic-bezier(0.47, 0, 0.75, 0.72) 0s infinite normal none;
          animation: float 5s cubic-bezier(0.47, 0, 0.75, 0.72) 0s infinite normal none;
}

.responsive * {
  font-family: 'Montserrat', sans-serif;
}

.responsive .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
}

.responsive__text {
  width: 100%;
}

.responsive__text__title {
  font-size: 3rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.responsive__text__title span {
  display: block;
  color: #8a0029;
}

.responsive__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  row-gap: 2rem;
}

.responsive__content__menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  row-gap: 1rem;
  right: calc(100% + 1.25rem);
}

@media screen and (max-width: 1440px) {
  .responsive__content__menu {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: unset;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.responsive__content__menu__element {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #404144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  color: white;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  cursor: pointer;
}

.responsive__content__menu__element:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.responsive__content__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .responsive__content__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.responsive__content__section__image {
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.responsive__content__section__image::before, .responsive__content__section__image::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.responsive__content__section__image::before {
  background: #8a0029;
}

.responsive__content__section__image::after {
  background: white;
}

.responsive__content__section__image.image-1 {
  grid-area: desktop;
  width: 100%;
}

.responsive__content__section__image.image-1::before, .responsive__content__section__image.image-1::after {
  height: 100%;
  width: 0;
  top: 0;
}

.responsive__content__section__image.image-1::before {
  left: 0;
}

.responsive__content__section__image.image-1::after {
  right: 0;
}

.responsive__content__section__image.image-1:hover::before, .responsive__content__section__image.image-1:hover::after {
  width: 100%;
}

.responsive__content__section__image.image-2 {
  grid-area: tablet;
  width: calc((100%/3 * 2) - 2rem);
}

@media screen and (max-width: 768px) {
  .responsive__content__section__image.image-2 {
    width: 100%;
  }
}

.responsive__content__section__image.image-2::before, .responsive__content__section__image.image-2::after {
  width: 100%;
  height: 0;
  left: 0;
}

.responsive__content__section__image.image-2::before {
  top: 0;
}

.responsive__content__section__image.image-2::after {
  bottom: 0;
}

.responsive__content__section__image.image-2:hover::before, .responsive__content__section__image.image-2:hover::after {
  height: 100%;
}

.responsive__content__section__image.image-3 {
  grid-area: mobile;
  width: calc(100%/3);
}

@media screen and (max-width: 768px) {
  .responsive__content__section__image.image-3 {
    width: 100%;
  }
}

.responsive__content__section__image.image-3::before, .responsive__content__section__image.image-3::after {
  width: 100%;
  height: 0;
  right: 0;
}

.responsive__content__section__image.image-3::before {
  bottom: 0;
}

.responsive__content__section__image.image-3::after {
  top: 0;
}

.responsive__content__section__image.image-3:hover::before, .responsive__content__section__image.image-3:hover::after {
  height: 100%;
}

.responsive__content__section__image img {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.responsive__content__section__image img.active {
  display: block;
}

.blocks {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.blocks__block {
  width: 100%;
  height: 50vmin;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.blocks__block:nth-child(1), .blocks__block:nth-child(4) {
  background: red;
}

.blocks__block:nth-child(2), .blocks__block:nth-child(3) {
  background: blue;
}

.full-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  height: 100vh;
  width: 100%;
  margin: 4rem 0;
}

@media screen and (max-width: 992px) {
  .full-hover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .full-hover__element {
    width: 100%;
  }
}

.full-hover * {
  font-family: 'Montserrat', sans-serif;
}

.full-hover__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 40px;
  background: #ccc;
  -webkit-box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  -webkit-transition: flex-grow .2s ease-in, -webkit-box-flex .2s ease-in;
  transition: flex-grow .2s ease-in, -webkit-box-flex .2s ease-in;
  transition: flex-grow .2s ease-in;
  transition: flex-grow .2s ease-in, -webkit-box-flex .2s ease-in, -ms-flex-positive .2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .full-hover__element {
    height: auto;
  }
}

.full-hover__element:hover {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-shadow: inset 0 0 0 100vmax rgba(138, 0, 41, 0.8);
          box-shadow: inset 0 0 0 100vmax rgba(138, 0, 41, 0.8);
  padding: 40px 20px;
}

.full-hover__element:nth-child(1) {
  background-image: url(../assets/images/section-responsive/desktop/website1.png);
}

.full-hover__element:nth-child(2) {
  background-image: url(../assets/images/section-responsive/desktop/website3.png);
}

.full-hover__element:nth-child(3) {
  background-image: url(../assets/images/section-responsive/desktop/website5.png);
}

.full-hover__element__title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .075em;
  color: #fff;
  -webkit-transition: .2s all;
  transition: .2s all;
  margin: 0;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.full-hover__element__description {
  font-size: 1rem;
  color: white;
  text-align: center;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.grid-gallery * {
  color: white;
  fill: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.grid-gallery__title {
  color: #8a0029;
  font-size: 4rem;
}

.grid-gallery__element {
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.grid-gallery__element:hover .grid-gallery__element__image {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

.grid-gallery__element:hover .grid-gallery__element__content {
  opacity: 1;
}

.grid-gallery__element__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.grid-gallery__element__content {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.grid-gallery__element__content__title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.grid-gallery__element__content__description {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.grid-gallery__element__content__button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.grid-gallery__element__content__button:hover {
  background: white;
  color: black;
}

.wide-text-reveal {
  width: 100%;
  height: auto;
  background: #8a0029;
}

.wide-text-reveal * {
  color: white;
  fill: white;
  font-family: 'Montserrat', sans-serif;
}

.wide-text-reveal__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: unset;
          column-gap: unset;
  row-gap: unset;
  height: calc(100vh/2);
}

.wide-text-reveal__element__icon {
  width: 64px;
  height: 64px;
  -webkit-filter: drop-shadow(0px 0px 30px #f00048);
          filter: drop-shadow(0px 0px 30px #f00048);
}

.wide-text-reveal__element__icon path {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.wide-text-reveal__element__text {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  width: 50%;
  text-shadow: 0px 0px 30px #f00048;
}
/*# sourceMappingURL=main.css.map */